[workspace]
authors = [
    "Alexandros Katsiferis <alexandros.katsiferis@sund.ku.dk>",
    "Neil Scheidwasser <neil.clow@sund.ku.dk>",
]
channels = ["conda-forge", "r"]
name = "ews"
platforms = ["linux-64"]
version = "0.2.0"

[system-requirements]
cuda = "12.6"

[tasks]
post_install = "bash scripts/post_install.sh"
preprocessing = "Rscript pipeline/preprocessing.R"
extract_metadata = "Rscript pipeline/extract_metadata.R"
extract_embeddings = "python pipeline/extract_embeddings.py"
analysis_main = "Rscript pipeline/analysis_main.R"
analysis_composite = "Rscript pipeline/analysis_composite_outcome.R"

[dependencies]
numpy = ">=2.3.5,<3"
polars = ">=1.35.2,<2"
scikit-learn = ">=1.7.2,<2"
r-ggplot2 = ">=4.0.1,<5"
r-tidyverse = ">=2.0.0,<3"
r-arrow = ">=22.0.0,<23"
r-tidylog = ">=1.1.0,<2"
r-tidymodels = ">=1.4.1,<2"
r-riskregression = ">=2025.9.17,<2026"
r-ggdist = ">=3.3.3,<4"
r-ggridges = ">=0.5.7,<0.6"
r-weightit = ">=1.5.1,<2"
r-cobalt = ">=4.6.1,<5"
r-gtsummary = ">=2.4.0,<3"
r-survey = ">=4.4_8,<5"
r-gt = ">=1.1.0,<2"
r-janitor = ">=2.2.1,<3"
r-geomtextpath = ">=0.2.0,<0.3"
pre-commit = ">=4.4.0,<5"
r-lubridate = ">=1.9.4,<2"
r-duckdb = ">=1.4.2,<2"
r-shapviz = ">=0.10.3,<0.11"

[pypi-dependencies]
torch = { version = ">=2.6", index = "https://download.pytorch.org/whl/cu126" }
sentence-transformers = ">=5.1.2,<6"
